services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: betterman
      POSTGRES_PASSWORD: betterman
      POSTGRES_USER: betterman
    ports:
      - "54320:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  pg_data:
